@using Microsoft.AspNetCore.Identity;
@using Work.DAL.Extend;

@model Work.BL.Models.ProfileVM;

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@{
    ViewData["Title"] = "Profile Settings";
    var UserId = @userManager.GetUserId(User);
}

@section css
{
    <link rel="stylesheet" href="~/assets/css/setting.css">
    <link rel="stylesheet" href="~/assets/css/SharedFile.css">

}


<div class="container-fluid main" style="height:100vh;padding-left:0px;" id="navbar-nav">
    <div class="d-block d-md-none menu">
        <i class="fa-sharp fa-solid fa-arrow-right fa-2xl"></i>

    </div>
    <div class="expand-menu nav flex-column">

        <a asp-controller="Account" asp-action="ProfileSettings" class="nav-link " style="margin-top: 300px;">
            <i class="far fa-user-circle"></i>
            Profile
        </a>
        <a asp-controller="Account" asp-action="ChangePassword" class="nav-link active mb-auto">
            <i class="fa-solid fa-key fa-lg"
               style="color: #ffffff;"></i> Password
        </a>
        <a asp-controller="Account" asp-action="ChangePassword" class="nav-link active  mb-auto">
            <i class="fa-solid fa-key fa-lg" style="color: #ffffff;"></i> Password
        </a>

        @if (signInManager.IsSignedIn(User) && User.IsInRole("Investor"))
        {
            <a asp-controller="Investor" asp-action="BillingInfo" class="nav-link mb-auto">
                <i class="far fa-file-alt"></i> Billing Info
            </a>
        }
    </div>
    <div class="row align-items-center" style="height:100%">

        <div class="col-md-3 d-none d-md-block" style="height:100%">

            <div class="container-fluid nav sidebar flex-column">

                <a asp-controller="Account" asp-action="ProfileSettings" class="nav-link " style="margin-top: 300px;">
                    <i class="far fa-user-circle"></i>
                    Profile
                </a>
                <a asp-controller="Account" asp-action="ChangePassword" class="nav-link active">
                    <i class="fa-solid fa-key fa-lg"
                       style="color: #ffffff;"></i> Password
                </a>
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Investor"))
                {
                    <a asp-controller="Investor" asp-action="BillingInfo" class="nav-link ">
                        <i class="far fa-file-alt"></i> Billing Info
                    </a>
                }
            </div>
        </div>


        <div class="col-md-9">

            <div class="container content clear-fix">

                <h2 class="mt-5 mb-5">Password Settings</h2>

                <div class="row" style="height:100%">


                    <div class="col-md-12">

                        <div class="container">
                            <form asp-controller="Account" asp-action="ChangePassword" method="POST">

                                <input type="hidden" id="Id" name="Id" value="@UserId" />

                                <div class="form-group">
                                    <label>Old Password</label>
                                    <input type="password" class="form-control" name="OldPassword">
                                </div>

                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" class="form-control" name="NewPassword">
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control" name="ConfirmPassword">
                                </div>

                                <div class="row mt-5 btns-Mobile">
                                    <div class="col ">
                                        <button type="submit" class="btn btn-primary btn-block btn-radius-32">Save Changes </button>
                                    </div>
                                    <div class="col ">
                                        <button type="button" class="btn btn-default btn-block btn-radius-32">Cancel</button>
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>




@section js
    {
    <script src="~/assets/js/setting.js"></script>
}
