@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link href="~/assets/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/addProject.css">
    <link rel="stylesheet" href="~/assets/css/SharedFile.css">

</head>
<body>
    <div class="container d-flex align-items-center h-100" style="margin: 300px auto;">
        <div class="container py-3 ">
            <div class="border-radius-32 bg-main-yellow pt-5 pb-2 shadowContainer ">
                <div class="rounded-3">
                    <div class="container-fluid">
                        <p style="text-align: center; font-size: xx-large;"> Password Reset Link Has Been Sent, Please Check Your Email Inbox </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>