@model Work.BL.Models.ProjectVM

@inject Work.BL.Interface.IProjectRep ProjectRep;

@{
    ViewData["Title"] = "Create Project";
    var UserId = TempData["UserId"];
}

@section css
    {
    <link rel="stylesheet" href="~/assets/css/AddProject.css">
    <link rel="stylesheet" href="~/assets/css/Bookservices.css">
}

<div class="container ">
    <div class="container py-3">
        <h4 class="text-center">Add project</h4>
        <div class="bg-main-color pt-5 pb-2">
            <div class="rounded-3">
                <div class="container-fluid">

                    <form asp-controller="Graduate" asp-action="CreateProject" enctype="multipart/form-data">
                        <input type="hidden" class="form-control" asp-for="UserId" value="@UserId">

                        <h6>Project Title</h6>
                        <input type="text" asp-for="Title" class="form-control">

                        <div class="row py-3">

                            <div class="col-lg-6">
                                <h5>Description</h5>
                                <div class="UploadFile ">
                                    <textarea asp-for="Description" class="form-control h-100"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <h5>Files</h5>
                                <div class="UploadFile h-75">

                                    <div class="d-flex justify-content-center align-items-center h-100 p-lg-0 ">
                                        <div class="Papper d-flex justify-content-center align-items-center h-100 mx-3  mt-2 text-center">
                                            <div>
                                                <div class="bg-BlueDark py-3 px-4 rounded-3 text-center SizeCutomize" id="ClickPaperFile">
                                                    <i class="fa-solid fa-plus fa-lg" style="color: #ffffff;"></i>
                                                    <div>
                                                        <input type="file" asp-for="Paper" accept="application/pdf,application/vnd.ms-excel" hidden id="InputeFilePaper">
                                                    </div>
                                                </div>
                                                <p>legal papers (Optional) </p>
                                            </div>


                                        </div>


                                        <div class="Archive d-flex justify-content-center align-items-center h-100 mx-3 mt-2 text-center">
                                            <div>
                                                <div class="bg-BlueDark py-3 px-4 rounded-3 text-center SizeCutomize">
                                                    <i class="fa-solid fa-plus fa-lg" style="color: #ffffff;" id="ClickArchiveFile"></i>
                                                    <div>
                                                        <input type="file" asp-for="Project" accept="image/*" hidden id="InputeFileArchive">
                                                    </div>
                                                </div>
                                                <p> UpLoad Files </p>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="d-flex justify-content-center align-items-end">
                                    <div class="w-50">
                                        <h5>Budget</h5>
                                        <input type="number" asp-for="Budget" class="form-control w-50 Budeget">
                                    </div>
                                    <div class="w-50 text-end">
                                        <button class="Post" style="background-color: #ffc107;">
                                            <input type="submit" class="btn btn-warning" value="Post">
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


@section js
{
    <script src="~/assets/js/addProject.js"></script>
}
