:root {
    --main-color-purble: #333456;
    --main-color-yellow: #C59035;
}
body
{
    font-family: Poppins, sans-serif !important;
}
nav
{
    position: fixed !important;
}

.AboutUsInLeft {
    background-color: var(--main-color-yellow) !important;
    color: white;
    padding: 4px 25px;
    z-index: 1;
}
/* in small screeens */
@media screen and (min-width:0px) and (max-width:750px) 
{

    .AboutUsInLeft {
        z-index: -2;
    }
}

/* layers have a photo of persone in page about us */
.layers {
    background-image: url("../images/AboutUs.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    position: relative;
    z-index: 0;
    width: 97%;
}

/* in screen small to make cover the size of all size  */
@media screen and (min-width:0px) and (max-width:950px) 
{
    .layers {
        width: 100%;
    }
}


.IntroInAboutUS h6,
.Mission_Statement h6,
.Our_Vision h6 {
    font-weight: 600 !important;
}

.containerIntro p {
    color: black;
}
.containerIntro
{
    width: 80%;
}

/* Responsive Container Text OF in Center Page  */

@media screen and (min-width:0) and (max-width:750px) 
{
    /* Box text in Center  */
    .containerIntro {
        width: 100%;
        padding: 20px !important;
    }
    /* Logo OF Navbar make Hidden in small screens */
    .navbar-brand {
        opacity: 0;
    }
}
@media screen and (min-width:0) and (max-width:300px) {
    .containerIntro {
        padding: 10px !important;
    }
}
