
    
.bg-main-color {
    background-color: #C59035;
    border-radius: 32px;
}

.form-control {
    border-radius: 32px;
}

.Decsc-TesctArea {
    width: 100%;
    height: 90%;
}


.UploadFile {
    width: 100%;
    background-color: aliceblue;
    border-radius: 30px;
    height: 120px;
}
@media screen and (min-width:0) and (max-width:750px)
{
     .col-lg-6:first-child .UploadFile
    {
        max-height: 50px !important;
    } 
    .UploadFile>div
    {
        padding: 0;
    } 

}

.UploadFile textarea
{
    height: 100% !important;
}
.Post {
    border: none;
    padding: 7px 30px;
    background-color: white;
    border-radius: 30px;

}

.AllowUpload
{
    margin: 0;
    font-weight: 900;
    color: #7d7d7d;
    font-size: 10px;
}




@media screen and (min-width:0px) and (max-width:750px) 
{
    .UploadFile.UploadFile.h-75
    {
        padding: 10px !important;
    }
    .UploadFile.h-75>div
    {
        flex-direction: column;
        padding:10px 0;
    }

.Budeget
{
    width: 100% !important;
}

}



.bg-BlueDark
{
    background-color:#333456;
}

i[class~="fa-solid"]
{
    cursor: pointer;
}

.SizeCutomize
{
    width: fit-content;
    margin: auto;
}
.Post
{
        background-color: #333456 !important;

}
.Post a
{
    color: white !important;
}

/* SHADOW */


.shadowContainer
{
    BOX-SHADOW: 1PX 7PX 10PX -7PX BLACK;

}