.m-10
{
    width: 12%;
}

.input-group.mb-3
{

    box-shadow: 4px 9px 8px -12px black;
}

.rounded-50
{
   border-radius: 41px;

}

.navbar 
{
height: 10%;
}






body
{
    font-family: 'Roboto Slab', serif !important;
}
 
.main-bg-color 
{
    background:  #C58F35 !important;
    color:white !important ;
}


@media only screen and (max-width: 600px)
 {
    /* .container.py-5 // for test onely
    {
        background-color: red;
    } */



    .containerOfInputsSignUp
    {
        width: 100% !important;
    }
    .navbar > .container, .navbar > .container-fluid
    {
        justify-content: center;
    }

    .col-lg-12 .input-group
    {
        flex-direction: column;
    }

    .col-lg-12 .input-group  input,
    .col-lg-12 .input-group  span
    {   
        width: 100% !important;
   
    }

    .col-lg-12 .input-group  span

    {
        margin: 5px 0;
    }
}


@media only screen and (min-width: 600px) and (max-width: 750px)
{
    .input-group-text
    {
        width: 30%;
    }
}


@media only screen and (min-width: 750px) and (max-width: 950px)
{
    .input-group-text
    {
        width: 25%;
    }
}
@media only screen and (min-width: 950px)
{
    .input-group-text
    {
        width: 20%;
    }
}
@media only screen and (min-width: 1000px)
{
    .input-group-text
    {
    width: 15%;
    }
}