
header
{
    background-image: url("../Image/Web\ 1920\ –\ 1.png"); 
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.nav-link
{
    margin: 0 10px;
    color: rgb(255, 255, 255) !important;
    position: relative;
}

.nav-link::after
{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width:0px;
    height: 1px ;
    background-color: #c59035;
    transition: 0.5s 0.1s width;
}
.nav-link:hover::after
{
    width: 100%;
}
.nav-link:hover
{
    color: rgba(0, 0, 0, 0.559) !important;
}

.BtnSignUP
{
    background-color: rgba(72, 64, 64, 0.893) !important;
}
.BtnLogin
{
    background-color: #c59035 !important;
}
.BtnSignUP , .BtnLogin
{
    color: white;
    padding: 10px 45px;
    border-radius: 30px;
}
.BtnSignUP>a , .BtnLogin>a
{
    color: #ffff;
    text-decoration: none;
}

@media only screen and (min-width: 0px) and (max-width:950px )
 {


    .registerAccount
    {
        width: 100% !important; 

    }
    .SizeOfContainer
    {
        width: 100%;
    }

    .ContainerHomePage
    {
        flex-direction: column-reverse !important;
    }
    .containerBtn
    {
        flex-direction: column;
        align-items: center;
    }
    .containerBtn>button
    {
        margin: 10px !important;
       width:40% !important;
    }
 }

 @media only screen and (min-width:950px )
 {
    .SizeOfContainer
    {
        width: 50% !important;
    }
 }
