.containerEnquery {
    width: 100%;
    height: 100px;
    color: #ffff;
    background-color: #C59035;
    border-radius: 32px;
}

.btn-main-bg-white {
    padding: 10px 20px;
    background-color: rgb(242, 242, 242);
    border-radius: 30px;
    border: none;
}

.DataOfPersoneOfGraduated {
    top: -30%;
}

.col-lg-12 {
    margin: 30px 0;
}

@media screen and (min-width:0px) and (max-width:400px) {
    .text-black.mx-2 {
        font-size: 14px;
    }
}

@media screen and (min-width:0px) and (max-width:750px) {
    .containerEnquery {
        height: 200px !important;
        text-align: center;
    }

        .containerEnquery .col-lg-3 {
            text-align: center !important;
            margin-top: 17px;
        }

    .DataOfPersoneOfGraduated {
        left: 50% !important;
        transform: translate(-50%,50%);
    }
}
