
@{
    ViewData["Title"] = "About Us";
}

@section css
{
    <link rel="stylesheet" href="~/assets/css/aboutUs.css">

}

<div class="container-fluid">
    <div class="position-fixed top-50 start-0 AboutUsInLeft d-flex justify-content-center align-items-center">
        <p class="m-0 p-3">About Us</p>
    </div>
    <div class="layers m-auto ">

        <div class="p-4 px-5 bg-white start-50 translate-middle top-50 position-absolute containerIntro border-radius-32">
            <div class="IntroInAboutUS">
                <h6 class="h4 my-3 text-main-purble">Intro</h6>
                <P class="ps-3">
                    we try to help graduated students to benefit from their graduation projects
                    as we offer them investors who may invest in their graduation projects and
                    this may motivate undergraduated students That they care more about
                    their projects and put more effort into them, as they can earn money from
                    it after graduation through our website
                </P>
            </div>

            <div class="Mission_Statement">
                <h6 class="h4 my-3">Mission Statement</h6>
                <ul class="ps-4">
                    <li>
                        For graduated students:
                        <br> -Help them to use their Graduation project after they Graduate.
                    </li>

                    <li>
                        For under Graduated students:
                        <br> -Help them to ( evaluate ideas, plan their projects, complete the project).
                    </li>

                </ul>
            </div>
            <div class="Our_Vision">
                <h6 class="h4 my-3">Our Vision</h6>
                <p class="ps-3">
                    Obtaining and implementing the largest number of graduation projects
                    inside and outside Egypt.
                </p>
            </div>

        </div>
    </div>
</div>