@{
    ViewData["Title"] = "HowItWork";
}

@section css
    {
    <link rel="stylesheet" href="~/assets/css/HowItWork.css">
}


<div class="layer">
    <section class="py-3">
        <div class="container">

            <h3 class="text-center text-uppercase fs-1 text-black-50">With Gradvest</h3>
            <div class="WithGradbest w-50 pt-5">
                <div class="pt-5">
                    <div class="d-flex">
                        <i class="fa-solid fa-circle-check pt-4 mx-2 fa-2xl" style="color: #a78406;"></i>
                        <div>
                            <h4 class="h5">ADD THE Project </h4>
                            <p>
                                Add the details of your project and the skills required to complete it,and start
                                receiving offers from investors
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pt-5">
                    <div class="d-flex">
                        <i class="fa-solid fa-circle-check pt-4 mx-2 fa-2xl" style="color: #a78406;"></i>
                        <div>
                            <h4 class="h5">CHOOSE THE appropriate offer</h4>
                            <p>
                                Among the proposals presented to your project from investors, choose the one that
                                suits you best, and make money.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pt-5">
                    <div class="d-flex">
                        <i class="fa-solid fa-circle-check pt-4 mx-2 fa-2xl" style="color: #a78406;"></i>
                        <div>
                            <h4 class="h5">offering help</h4>
                            <p>Helping student to evaluate ideas, plan their projects complete it </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section js
{
    <link rel="stylesheet" href="~/assets/css/HowItWork.css">
}
