
@{
    ViewData["Title"] = "Welcome";
}

@section css
{
    <link rel="stylesheet" href="~/assets/css/IndexStyleCss.css">
}


<div class="d-flex ContainerHomePage">
    <div class="SizeOfContainer registerAccount pt-lg-5 d-flex mt-lg-5">
        <div class="text-center pt-5 mt-5">
            <img src="~/assets/images/LogoLarge.png" alt="" class="w-50">
            <div class=" d-flex justify-content-center containerBtn">
                <button class="btn mx-lg-5 BtnSignUP" type="button"><a asp-controller="Home" asp-action="RegisterAs">Registeration</a></button>
                <button class="btn mx-lg-5 BtnLogin" type="button"><a asp-controller="Account" asp-action="Login">Log In</a></button>
            </div>
        </div>
    </div>


    <div class="SizeOfContainer">
        <div class="text-center pt-lg-5 mt-lg-5 w-100  text-center">
            <div class="d-flex justify-content-center mt-lg-5  ">
                <h3 class="mt-5 pt-5 ProjectFucture "> YOUR PROJECT IS YOUR FUTURE..</h3>
            </div>
        </div>
    </div>


</div>
